:root {
  ---fontUsed: Roboto;
  --primary: #1f2937;
  --secondary: #e5e7eb;
  --btnColor: #3882f6;
}

/* Css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(---fontUsed);
}

/* Header */
header {
  background-color: var(--primary);
  width: 100%;
  height: 70vh;
  padding: 0.3rem 7%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.navbar .logo {
  color: #f9faf8;
  font-size: 24px;
  cursor: pointer;
}

.navbar .navbar-item a {
  color: var(--secondary);
  font-size: 18px;
  text-decoration: none;
  margin-right: 0.5rem;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 5% 0;
}

.hero .hero-text {
  flex: 1;
}

.hero .hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero .hero-text p {
  color: var(--secondary);
  font-size: 18px;
  line-height: 1.5rem;
}

.hero .hero-text button {
  background-color: var(--btnColor);
  color: #fff;
  padding: 5px 13px;
  margin-top: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.hero .hero-image {
  flex: 1;
}

.hero .hero-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Animals / Card */
.animals {
  width: 100%;
  height: 70vh;
  padding: 1rem;
  text-align: center;
}

.animals h2 {
  color: var(--primary);
  font-size: 48px;
  font-weight: 900;
}

.animals .card {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.animals .card .card-item .card-image {
  width: 200px;
}

.animals .card .card-item .card-image img {
  width: 200px;
  height: 200px;
  border: 3px solid var(--btnColor);
  border-radius: 0.4rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.animals .card .card-item .card-image-description {
  padding: 0 7px;
}

/* Quote */
.quote {
  background-color: var(--secondary);
  width: 100%;
  height: 70vh;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote blockquote {
  position: relative;
  width: 60%;
}

.quote blockquote p {
  color: var(--primary);
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  padding: 20px;
}

.quote blockquote cite {
  position: absolute;
  right: 5rem;
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
}

/* Conservation */
.conservation {
  width: 100%;
  height: 50vh;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conservation .container {
  background-color: var(--btnColor);
  padding: 1.2rem 5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conservation .container .text-content {
  max-width: 70%;
}

.conservation .container .text-content h3 {
  color: #f9faf8;
  font-size: 18px;
}

.conservation .container .text-content p {
  color: var(--secondary);
  margin-top: 0.3rem;
  font-size: 16px;
}

.conservation .container .cta {
  background: none;
  color: var(--secondary);
  padding: 5px 15px;
  border: 1px solid var(--secondary);
  border-radius: 0.3rem;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1rem;
  text-align: center;
}
